                                                                                                            
                                                                                                            
                                                                                                            
                                                                                                            
                                                                                                            
                                                                                                            
                                                                                                            
                                                                                                            
                                                                                                            
. ...                                                                      ...                              
,.:::,.,,,.......                                                     .rs5rrir:;:,                          
:.;;;:::::::::,,,,,,,,,,.....                                      ,5i2S::.    ;2XA25s.  ,r                 
;:;;;:::;:::::::::::::::,:::::::,,.........                      ;r::        ,:hX2X3A29s.S:                 
:,:;;;::::::::::::;:::::::::,,,,,,,,,.....,,....,.....          ,r,::  ,;XGMh5G@@M5rSGG2r                   
;.;;;::;:,:::;;::,,,,:,,,::,,,,::,..,,.   ..     ..,,::::::;r,    :Xi ;&:iS;,rG@@#@@@@@@ASs,                
:,::::::,,........  ..,:::,,,:;,.,:::.   ,.       ....,,:::;i;:,:rX#G::i    ,;2#X;riSX3#@@@@G,              
;;i;;::;;;;;;::::,,..  .,,.,,,...,:,    :,  ,,     .,,...,,:: r2XAM@@M&AhriM@AHHX;:,,:::sA@@@@X             
;:5;:::;;::::::::;;;;;, .::,,..,,,:;:..:;. :rsi;   .,,:,...&AX&HG2&AAX&A@@@@@BX&&r:;;;:,,;X#@@@@; .,,,..... 
s;i;si,,::,:::;;;:,:;::. ....,,:;Si::;r;,. ,;i9@#9:  ::::,.:2B@@G;rSiss5M##@AXS23X::;::.  ,SB@#@s:,;r::::::.
2H&99i::;:::,;srSr:;;:,::,.,,:;i2Srrsr;,   ,:;s&@@@Mirss;;,,rB@#r:::;;;rsiAAisrri; .:;rSr   ;XHM3hA&5:,:;;;.
Sss22rr;,,;,r;rr5sr,,,;;:,,:;2A92isr;:,     ,:;r53H@@@@#&iiri@@S;;;;;:;;::;rrrrrsssh#@@@@@Ms r3@@@#MMr::;;r:
h5;:;,::;2r:2;.:r,.,;95;,.:iH#Gir;;;;:       ,;;::;rs2&@@@MA#@@i;:;;rrr;r;;;rrriXAHMA3555X9HXS&A#@MHS:::::r:
B#&S;G5:S2:,sXs; .:::;,,,;3B#Gs;:;;;:  ,,.    .:;;::::;sX#@@@@@i;h@@@@#&2r;;sssssissr;;;;;;rsSXiS@@@A5;,,;;:
r:S9522,sA:;;:,. ,;:,  ;239AGS;;;;;:.,,:;;;:,.  ;r;;:::;;r9@@@@h#@M95SXX5r;;risrrrsiiiS2X9X5r;;;,5@@Xr:.,:;,
:.::rX9AGG;.  ,. .,.,:sSsrAA2s;;;;;,,;;rrrrrr;;:;rrr;;;;;ri3@@@@Hs:,,,:;rrrrrrrr59AAM@@@@@@@#Xs;:.X@9r;::::,
ssSi;25MM2,  ;;  ,:;rXr,;5MGi;;;;;;:;rrsrrrrrrrrrrrirsrrrssSH@@X;;;rSX&H&925irrsSXhA#HG2issi525s;,,M#irrrir:
;SAS,r:;5, .rs, :;rrr;,;S&AS;;;;;;,.. .:;r;;rrrrrrrrssssssii3@@s;rG@@@@@##952Ssss55SSiisrrssssss;;,s@i;;sX2r
;.:,iB&r:  .,.,:;;;:,,;2&AX;:;;rr,.. . .,:;rr;rrrrrrrsiisiii2@@5iXAhs;;sSSi52srrrsS25iiS5525isr, :;:A;.....,
AS3rs##M@#Srrs;;::,:;;rXG2r;;r;rr;;;rrssiSX92r;;;rrr;rrrsS229@@355srrrrrrsi52irrrs5222555Siiir,   :;;;,::;r;
AB@#r;5HA&Xi3GAsrsrrSr:s2r;;rr;;;rh@@@@#Bhs;rr;:;srrrS29ABMM#@@2issiiiisssSX2isrs;,S9h&XSissrs;:, ,r;.,;;;r:
;r@#i@@#i3#@@#2rrH2rr;,i2;;;rrrs29H#@@@#h#Ar;r;:;s223hAAG5s5#@@2isrrrrs2X539SiSS2:  ri2A35SissS5Sr;sr;;ri;;:
i:;,,:sSX: S@Ai;.:s5sr,,;;;;;;rrss;,,:;ri2&252srrXAA@@@BG@#5;A@Xisrr;rS2X5SisrriSS;:iX222X992iiiiirrr::;s;;;
5r;:r,..:i&5Sih#3;2X;5,ri;;;;;;rrriSirrri555X3Ssi399&3h2X@@X.;@Gisr;;r55ssi5Xirrrsi3&Xii5529A&Ssrssrr::,,:::
S:;..sr;.,srhi;AH5AArXr;s;;;;;r;;;;rrssiisi2iiiii29X2Ssrii9i;iX&srrrr5X2isiiS5SiSSSSSiisrrri59hsrrrrrsr;;;::
;,siis9#X:s,,hr;,5rsrirsS;;;;;;;;;;;;;;;;rrrrssi523X22225SGs ,iAs;rrr9iSirr;rsiS2225S55S3#@AS59irrsr52rssri;
SsX3HM@B2.S; :;2322srSi2r;;;;;;;;::::;rrrS22iiiiSS23SiiiS2Grri#Hi;r;;sss3@@#sSssrSrrrrsS@@M5i25rrrsr3Gs9X;rr
&2XAHs;,rSr,:::s@&S9SrSi;;r;rr;;::::;;rrriiiSisrrsS3srrri32222@hXs;;;;risiA#hASi;rr;i9#H&s;ri2Srrss:,,,:;;:;
A2AhX32iH#i;5i,59Grr9G:r;;rrrr;;::;;rrrrrr::;;;,;;i5sr;ri3rSs2##@Asrr;rss;;sSXhAAAAAAh5s;riiSSiiss;;,::,rr;:
GH##AA25#Ss5AA:.;;;,,,,:;;rsr;::rrs5r;rr;rr;;;;;rrS5XirsX3;2B&B#Xi3irsrrirrrr;;;rrrrr;;;rs5Siisss,.;r5i;::;:
HH@@XS@@i:,.:s:rr:   .r;;;;rr;;:rri@@As;rssiS252X29XS5s2X3rr;r:s;;XM2sirrsissr;;;rrsisrriiisssii;,:;Xs&i;sr:
BAX, ;#::9X;B@@:   .,;s;;;rrrr;::;;;5#h,,,:,rrr;i@#5rr53:::;.i:r9XX#H932sriisiiiiS55555X5issiSs;:;s292i,r5;;
hirirS9issX3@@@:   .:Ss;rrrrsrr;;;::,rXX2s,...rhB#2ir5GS,;rX;Xsrhh2AA93hG5srrS25SS525252isii5ir;rr2;A@X;sG2;
2H@@##Ah52A&@#..   ;i2irsrrriir;;;;;::;s2&&AAAMMA55XXX3;r;;3922AA&2599S2hG3irrs5iissiiSSiS22irrri53:rr;riiGr
5&AXsr;;S##@@@9A@  2255iiissiS5s;;;;;;;:;ri5X2SSii2r;9AMMhrXAHG9X35ii2XisS3h35rrsSiiSSSSS22Srrs:  rX2;:r322s
r.,.:52ir&MA@@@@@rsA2iS25iiSiS292r;;rrrrrrrrssiii5Bs:XH&h3G923h2222SisS2Sssi2G92222X2XXX3Sirrssr,   ;S&@M9Xi
;,;r5G#@@#MX#@#@@@M93XS522522XX9A&i::riS555S22X25h&&AHA&X2XSS5X2S22SSiisS5irrri22X3252issrrrrsrSB,    ,&A#H5
irssiiiS3AMBA@MH@@#BA&9X22222X3hh&A3srrrrrrrriii23XXXXXX25SiiiS5SiSiiiisrsiirrrrrrrrrrrrr;rrrr;;&s,      ;ii
